<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="w-50 py-4">
		<h1>글 상세</h1>
		
		<input type="text" id="subject" class="form-control" placeholder="제목을 입력하세요." th:value="${post.subject}"> 
		<textarea id="content" rows="10" class="form-control" placeholder="내용을 입력하세요." th:text="${post.content}"></textarea>
		
		<!-- 이미지 영역: 이미지가 있을 때에만 -->
		<div th:if="${post.imagePath != null}" class="my-3">
			<img th:src="${post.imagePath}" alt="본문 이미지" width="300">
		</div>
		<div class="d-flex justify-content-end my-3">
			<input type="file" id="file" accept=".jpg, .png, .gif">		
		</div>
		<div class="d-flex justify-content-between">
			<button type="button" id="delBtn" class="btn btn-secondary" th:data-post-id="${post.id}">삭제</button>
			<div>
				<a href="/post/post-list-view" class="btn btn-dark">목록</a>
				<button type="button" id="saveBtn" class="btn btn-warning" th:data-post-id="${post.id}">수정</button>
			</div>
		</div>
	</div>
</section>

<th:block layout:fragment="script">
    <script>
		$(document).ready(function() {
			$("#saveBtn").on("click", function(){
				let subject = $("#subject").val().trim();
				let content = $("#content").val();
				let fileName = $("#file").val(); // C:\fakepath\SteamSetup.exe 
				let postId = $(this).data("post-id");
			
				if (!subject) {
					alert("제목을 입력하세요.");
					return;
				}
				
				if (!content) {
					alert("내용을 입력하세요.");
					return;
				}
				
				if (fileName) {
					let extension = fileName.split(".").pop().toLowerCase();
					if ($.inArray(extension, ["jpg","png", "gif"]) == -1) {
						alert("이미지 파일만 업로드 할 수 있습니다.");
						$("#file").val("");
						return;
					}
				}
				
				// 이미지 업로드 시 form 태그 필요 
				// form 태그를 js에서 만든다.
				let formData = new FormData();
				formData.append("postId", postId);
				formData.append("subject", subject); // key는 form의 name과 같음 - request param명
				formData.append("content", content);
				formData.append("file", $("#file")[0].files[0]); // 없으면 null로 보냄 
				
				$.ajax({
					//request
					type:"PUT"
					, url:"/post/update"
					, data:formData
					, processData:false  // 파일업로드 필수 설정
					, contentType:false  // 파일업로드 필수 설정
					, enctype:"multipart/form-data"  // 파일업로드 필수 설정
					
					//response
					, success:function(data) {
						if(data.code == 200) {
							alert("글이 수정되었습니다.");
							location.reload();
						} else {
							alert(data.error_message);
						}
					}
					, error:function(e) {
						alert("글을 저장하는데 실패했습니다.");
					}
				})
			})
			
			$("#delBtn").on("click", function() {
				let postId = $(this).data("post-id");
				$.ajax({
					//request
					type:"DELETE"
					, url:"/post/delete"
					, data:{"postId":postId}
					
					//response
					, success:function(data) {
						if(data.code == 200) {
							alert("글이 삭제되었습니다.");
							location.href = "/post/post-list-view"
						} else {
							alert(data.error_message);
						}
					}
					, error:function(e) {
						alert("글을 삭제하는데 실패했습니다.");
					}
				})
			})
		});
    </script>
</th:block>