<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/defaultLayout}">
	<section layout:fragment="content" class="contents d-flex justify-content-center">
		<div class="w-50 py-4">
			<h1 class="mb-4">회원가입</h1>
			<form id="signUpForm" method="post" action="/user/sign-up">
				<table class="sign-up-table table table-bordered">
					<tr>
						<th>* 아이디(4자 이상)<br></th>
						<td>
							<!-- 인풋박스 옆에 중복확인을 붙이기 위해 div를 하나 더 만들고 d-flex -->
							<div class="d-flex justify-content-between">
								<input type="text" id="loginId" name="loginId" class="form-control col-8" placeholder="아이디를 입력하세요.">
								<button type="button" id="loginIdCheckBtn" class="btn btn-success">중복확인</button><br>
							</div>
							
							<!-- 아이디 체크 결과 -->
							<!-- d-none 클래스: display none (보이지 않게) -->
							<div id="idCheckLength" class="small text-danger d-none">ID를 4자 이상 입력해주세요.</div>
							<div id="idCheckDuplicated" class="small text-danger d-none">이미 사용중인 ID입니다.</div>
							<div id="idCheckOk" class="small text-success d-none">사용 가능한 ID 입니다.</div>
						</td>
					</tr>
					<tr>
						<th>* 비밀번호</th>
						<td><input type="password" id="password" name="password" class="form-control" placeholder="비밀번호를 입력하세요."></td>
					</tr>
					<tr>
						<th>* 비밀번호 확인</th>
						<td><input type="password" id="confirmPassword" class="form-control" placeholder="비밀번호를 입력하세요."></td>
					</tr>
					<tr>
						<th>* 이름</th>
						<td><input type="text" id="name" name="name" class="form-control" placeholder="이름을 입력하세요."></td>
					</tr>
					<tr>
						<th>* 이메일</th>
						<td><input type="text" id="email" name="email" class="form-control" placeholder="이메일 주소를 입력하세요."></td>
					</tr>
				</table>
				<br>
			
				<button type="submit" id="signUpBtn" class="btn btn-primary float-right">회원가입</button>
			</form>
		</div>
	</section>
<th:block layout:fragment="script">
	<script>
		$(document).ready(function() {
			$("#loginIdCheckBtn").on("click", function() {
				$("#idCheckLength").addClass("d-none");
				$("#idCheckDuplicated").addClass("d-none");
				$("#idCheckOk").addClass("d-none");
				let loginId = $("input[name=loginId]").val().trim();
				
				if (loginId.length < 4) {
					$("#idCheckLength").removeClass("d-none");
					return;
				}
				
				$.ajax({
					url:"/user/is-duplicate-id"
					, data:{"loginId":loginId}
					, success:function(data) {
						if (data.code == 200) {
							if (data.is_duplicate_id) {
								$("#idCheckDuplicated").removeClass("d-none");		
							} else {
								$("#idCheckOk").removeClass("d-none");
							}
							
						}
					}
					, error:function(e) {
						alert("중복확인에 실패했습니다.");
					}
				});
			});
			
			$("#signUpForm").on("submit", function(e) {
				e.preventDefault(); // submit 중단 (화면 이동 x)
				
				let loginId = $("#loginId").val().trim();
				let password = $("#password").val();
				let confirmPassword = $("#confirmPassword").val();
				let name = $("#name").val().trim();
				let email = $("#email").val().trim();
				
				if (!loginId) {
					alert("아이디를 입력하세요.");
					return false; // submit일 때는 false
				}
				
				if (!password || !confirmPassword) {
					alert("비밀번호를 입력하세요.");
					return false;
				}
				
				if (password != confirmPassword) {
					alert("비밀번호가 일치하지 않습니다.");
					return false;
				}
				
				if (!name) {
					alert("이름을 입력하세요.");
					return false;
				}
				
				if (!email) {
					alert("이메일을 입력하세요.");
					return false;
				}
				
				if ($("#idCheckOk").hasClass("d-none")) {
					alert("아이디 중복확인을 해주세요.");
					return false;
				}
				
				//$(this)[0].submit(); // 몇번째 form인가 쇼핑몰 주문넘어갈때 파라미터 많을 때
				
				let url = $(this).attr("action");
	
				let params = $(this).serialize(); // 폼태그의 name속성과 value를 직렬화 => request 파라미터로 구성
		
				
				$.post(url, params) // request
				.done(function(data) { // response - callback
					if (data.code == 200) {
						// 성공
						alert("가입을 환영합니다. 로그인 해주세요.");
						location.href = "/user/sign-in-view";
					} else {
						// 로직 상 실패
						alert(data.error_message);
					}
				});
				//$.post("", {"":});
			});
		});
	</script>
</th:block>
</html>S